<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Projeto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servletLogin</display-name>
    <servlet-name>servletLogin</servlet-name>
    <servlet-class>controller.servletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletLogin</servlet-name>
    <url-pattern>/servletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlertCadastro</display-name>
    <servlet-name>servlertCadastro</servlet-name>
    <servlet-class>controller.servlertCadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlertCadastro</servlet-name>
    <url-pattern>/servlertCadastro</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servletCadastro</display-name>
    <servlet-name>servletCadastro</servlet-name>
    <servlet-class>controller.servletCadastro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCadastro</servlet-name>
    <url-pattern>/servletCadastro</url-pattern>
  </servlet-mapping>
</web-app>